body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin:0;
    padding:0;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
fieldset, img {
    border:0;
}
address, caption, cite, code, dfn, em, th, var, i {
    font-style:normal;
    font-weight:normal;
}
ol, ul {
    list-style:none;
}
caption, th {
    text-align:left;
}
a:focus {
    outline-style:none;
}
a {
    text-decoration: none;
}
html {
    width: 100%;
    height:100%;
    overflow: hidden;
}
body {
    width:100%;
    height: 100%;
    background: #01163f;
    color: #fff;
    font-family:"Microsoft Yahei";
}
.stage1, .stage2, .stage3, .stage4, .stage5, .stage6 {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}
.stage6 {
    -webkit-transform:translateY(0)
}
.stage6 .space_wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    z-index: 20;
    width: 510px;
    height: 500px;
}
.stage6 .space_wrap .mars_circle, .stage6 .space_wrap .venus_circle, .stage6 .space_wrap .halley_circle {
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 7px rgba(255, 255, 255, 0.2), inset 0 0 10px rgba(255, 255, 255, 0.2);
    transform:rotateX(77deg) rotateY(-10deg) rotateZ(0deg) translateY(1px);
}
.stage6 .space_wrap .halley_circle {
    transform: rotateX(57deg) rotateY(40deg) rotateZ(550deg) translateZ(-150px);
}
.mars_circle {
    left: 50%;
    top: 50%;
    margin-top: -400px;
    margin-left: -400px;
    width: 800px;
    height: 800px;
}
.mars {
    width: 100%;
    height: 100%;
    -webkit-animation:planet_circle 5s linear 0 infinite;
}
.venus_circle {
    left: 50%;
    top: 50%;
    margin-top: -300px;
    margin-left: -300px;
    width: 600px;
    height: 600px;
}
.venus {
    width: 100%;
    height: 100%;
    -webkit-animation:planet_circle 3s linear 0 infinite;
}
.halley_circle {
    left: 50%;
    top: 50%;
    margin-top: -600px;
    margin-left: -600px;
    width: 1200px;
    height: 1200px;
}
.halley {
    width: 100%;
    height: 100%;
    -webkit-animation:planet_circle 10s linear 0 infinite;
}
.stage6 .space_wrap .sun_wrap {
    -webkit-transform-origin:50% bottom;
}
.stage6 .space_wrap .sun, .stage6 .space_wrap .sun_mask {
    -webkit-transform: rotate(-19deg);
    position: absolute;
    z-index: 9;
    border-radius: 50%;
    width: 505px;
    height: 505px;
    background: -webkit-linear-gradient(top, rgba(248, 140, 68, 1) 0%, rgba(246, 103, 65, 1) 100%);
}
.stage6 .space_wrap .sun_mask {
    margin: 0;
    -webkit-transform: rotate(0);
}
.sun_rotate_wrap {
    position: absolute;
    -webkit-transform: rotate(-19deg);
    width: 505px;
    height: 505px;
    z-index: 12;
}
.stage6 .space_wrap .sun_mask_wrap {
    position: absolute;
    z-index: 12;
    border-radius: 50% 50% 0 0;
    width: 505px;
    height: 210px;
    overflow: hidden;
}
.orbit_mars {
    position: absolute;
    left: -500px;
    z-index: 10;
    width: 1465px;
    height: 542px;
    background: url("http://img.t.sinajs.cn/t6/style/images/special/v6up_ani/ani/orbit_mars.png?id=201410111551");
    opacity: 0;
}
.orbit_venus {
    position: absolute;
    left: -130px;
    top:70px;
    z-index: 10;
    width: 756px;
    height: 285px;
    background: url("http://img.t.sinajs.cn/t6/style/images/special/v6up_ani/ani/orbit_venus.png?id=201410111551");
    opacity: 0;
}
.orbit_halley {
    position: absolute;
    z-index: 8;
    margin:-100px 0 0 -600px;
    width: 3000px;
    height: 700px;
    background: url("http://img.t.sinajs.cn/t6/style/images/special/v6up_ani/ani/orbit_halley2.png?id=201410111551") -500px 0;
    -webkit-transform:translate(-150px, 110px);
    opacity: 0;
}
.stage6_update_btn {
    margin:0 auto;
    width: 164px;
    height: 164px;
    /*background: url("http://img.t.sinajs.cn/t6/style/images/special/v6up_ani/ani/stage6_update_btn.png?id=201410111551");*/
    border-radius: 50%;
    -webkit-transition:all .2s ease-in;
    cursor: pointer;
}
.stage6_update_btn .login_new {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin-bottom: 45px;
    text-decoration: none;
    line-height: 164px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}
.stage6_update_btn .login_new:hover {
    box-shadow: 0 0 30px rgba(35, 234, 226, 0.2);
    -webkit-animation:forwards;
}
.stage6_update_btn .refresh_btn {
    display: inline-block;
    width: 100px;
    height: 30px;
    color: #8ab8c4;
}
.stage6_ele1 {
    position: absolute;
    margin-top: 230px;
    margin-left: -33px;
    z-index: 20;
}
.stage6_txt1, .stage6_txt2, .stage6_txt3 {
    position: absolute;
    opacity: 0;
}
.stage6_txt1 {
    width:573px;
    height: 45px;
    background: url("http://img.t.sinajs.cn/t6/style/images/special/v6up_ani/ani/stage6_txt1.svg?id=201410111551") center no-repeat;
}
.stage6_txt2 {
    width:573px;
    height: 44px;
    background: url("http://img.t.sinajs.cn/t6/style/images/special/v6up_ani/ani/stage6_txt2.svg?id=201410111551") center no-repeat;
}
.stage6_txt3 {
    width:573px;
    height: 46px;
    background: url("http://img.t.sinajs.cn/t6/style/images/special/v6up_ani/ani/stage6_txt3.png?id=201410111551") center no-repeat;
}
.stage6_ele2 {
    color: #4b7d7c;
    position: relative;
    z-index: 12;
    margin-top: 30%;
    opacity: 0;
}
.stage6_ele2 .check {
    display: inline-block;
    margin-right: 20px;
    width: 12px;
    height: 12px;
    border: 1px solid #32474e;
    background:#1d202a;
    border-radius: 2px
}
.stage6_ele2 .checked {
    background: url("http://img.t.sinajs.cn/t6/style/images/special/v6up_ani/ani/stage6_checked.png?id=201410111551") right 0 no-repeat;
}
.stage6_ele2 .ta {
    margin-top: 45px;
    text-align: center;
}
.stage6_ele2 .stage6_update_btn p {
    position: absolute;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    text-align: center;
}
.stage6_ele2 .v_line {
    margin: 0 20px
}
.stage6_ele2 .refresh_icon {
    display: inline-block;
    margin-right: 10px;
    width: 12px;
    height: 12px;
    background: url("http://img.t.sinajs.cn/t6/style/images/special/v6up_ani/ani/refresh_icon.png?id=201410111551");
}
svg {
    overflow: visible;
    position: absolute;
    z-index: 11;
}
.svg_mars {
    margin: -195px 0 0 0px
}
.svg_venus {
    margin: -58px
}
.svg_halley {
    margin: -240px 0 0 -640px;
}
.svg_mars .planet_mars {
    -webkit-transform: scale(0.5);
    -webkit-transform-origin: center 0;
}
.svg_venus .planet_mars {
    -webkit-transform: scale(0.8);
    -webkit-transform-origin: left 0;
}
.svg_halley .planet_mars {
    -webkit-transform: scale(0.5);
}
.ani .orbit_venus {
    -webkit-animation:state6_venus 11s ease-in-out 0s forwards
}
@-webkit-keyframes state6_venus {
    0% {
        opacity: 0;
        -webkit-transform:scale(0.5);
    }
    9.1% {
        opacity: 0;
        -webkit-transform:scale(0.5);
    }
    11.51% {
        opacity: 1;
        -webkit-transform:scale(1.2);
    }
    13.33% {
        opacity: 1;
        -webkit-transform:scale(1);
    }
    73.93% {
        opacity: 1;
        -webkit-transform:scale(1);
    }
    75.75% {
        opacity: 0;
        -webkit-transform:scale(2);
        display: none;
    }
    100% {
        opacity: 0;
        -webkit-transform:scale(2);
        display: none;
    }
}
.ani .orbit_mars {
    -webkit-animation:state6_mars 11s ease-in-out 0s forwards
}
@-webkit-keyframes state6_mars {
    0% {
        opacity: 0;
        -webkit-transform:scale(0.5);
    }
    9.0% {
        opacity: 0;
        -webkit-transform:scale(0.5);
    }
    9.1% {
        opacity: 0;
        -webkit-transform:scale(0.5);
    }
    11.51% {
        opacity: 0;
        -webkit-transform:scale(1.2);
    }
    13.33% {
        opacity: 1;
        -webkit-transform:scale(1);
    }
    73.93% {
        opacity: 1;
        -webkit-transform:scale(1);
    }
    75.75% {
        opacity: 0;
        -webkit-transform:scale(2);
    }
    100% {
        opacity: 0;
        -webkit-transform:scale(2);
        display: none;
    }
}
.ani .orbit_halley {
    -webkit-animation:state6_halley 10s ease-in-out 1s forwards
}
@-webkit-keyframes state6_halley {
    0% {
        opacity: 0;
        -webkit-transform:scale(0.5) translate(-150px, 110px);
    }
    3.33% {
        opacity: 0;
        -webkit-transform:scale(0.5) translate(-150px, 110px);
    }
    6.67% {
        opacity: 1;
        -webkit-transform:scale(1) translate(-150px, 110px);
    }
    71.33% {
        opacity: 1;
        -webkit-transform:scale(1) translate(-150px, 110px);
    }
    73.33% {
        opacity: 0;
        -webkit-transform:scale(1) translate(-150px, 110px)
    }
    100% {
        opacity: 0;
        -webkit-transform:scale(2) translate(-150px, 110px)
    }
}
.ani .planet_mars {
    -webkit-animation:stage6_planet_mars 6s linear 1s 3;
}
@-webkit-keyframes stage6_planet_mars {
    0% {
        -webkit-transform:scale(0.5);
    }
    25% {
        -webkit-transform:scale(0.5);
    }
    50% {
        -webkit-transform:scale(0.5);
    }
    90% {
        -webkit-transform:scale(0.5);
    }
    100% {
        -webkit-transform:scale(0.5);
    }
}
.ani .planet_venus {
    -webkit-animation:stage6_planet_venus 3s linear 1s 3;
}
@-webkit-keyframes stage6_planet_venus {
    0% {
        -webkit-transform:scale(0.8);
    }
    25% {
        -webkit-transform:scale(0.8);
    }
    50% {
        -webkit-transform:scale(0.8);
    }
    75% {
        -webkit-transform:scale(0.8);
    }
    100% {
        -webkit-transform:scale(0.8);
    }
}
.ani .sun_wrap {
    -webkit-animation:stage6_sun 0.663s ease-in-out 8.16s forwards
}
@-webkit-keyframes stage6_sun {
    0% {
        -webkit-transform:scale(1) translateY(0);
    }
    100% {
        -webkit-transform:scale(3) translateY(-490px);
    }
}
.ani .stage6_txt1 {
    -webkit-animation:stage6_txt1 10s cubic-bezier(0.645, 0.045, 0.355, 1) 1s forwards
}
@-webkit-keyframes stage6_txt1 {
    0% {
        opacity: 0;
        -webkit-transform:translateY(100px);
    }
    7.33% {
        opacity: 0;
        -webkit-transform:translateY(100px);
    }
    16.67% {
        opacity: 1;
        -webkit-transform:translateY(0);
    }
    43.33% {
        opacity: 1;
        -webkit-transform:translateY(0);
    }
    48.11% {
        opacity: 0;
        -webkit-transform:translateY(-100px);
    }
    100% {
        opacity: 0;
        -webkit-transform:translateY(-100px);
        display: none;
    }
}
.ani .stage6_txt2 {
    -webkit-animation:stage6_txt2 10s cubic-bezier(0.645, 0.045, 0.355, 1) 1s forwards
}
@-webkit-keyframes stage6_txt2 {
    0% {
        opacity: 0;
        -webkit-transform:translateY(100px);
    }
    43.33% {
        opacity: 0;
        -webkit-transform:translateY(100px);
    }
    48.33% {
        opacity: 1;
        -webkit-transform:translateY(0);
    }
    71.33% {
        opacity: 1;
        -webkit-transform:translateY(0) scale(1, 1);
    }
    73.33% {
        opacity: 0;
        -webkit-transform:translateY(-100px) scale(1.5, 1.3);
    }
    100% {
        opacity: 0;
        -webkit-transform:translateY(-100px) scale(1.5, 1.3);
        display: none;
    }
}
.ani .stage6_txt3 {
}
@-webkit-keyframes stage6_txt3 {
    0% {
        opacity: 0;
        -webkit-transform:translateY(100px) scale(1, 1);
    }
    41.66% {
        opacity: 0;
        -webkit-transform:translateY(100px) scale(1, 1);
    }
    48.33% {
        opacity: 1;
        -webkit-transform:translateY(0) scale(1, 1);
    }
    71.33% {
        opacity: 1;
        -webkit-transform:translateY(0) scale(1, 1);
    }
    73.33% {
        opacity: 0;
        -webkit-transform:translateY(-100px) scale(1.5, 1.3);
    }
    100% {
        opacity: 0;
        -webkit-transform:translateY(-100px) scale(1.5, 1.3);
        display: none;
    }
}
.ani .stage6_ele2 {
    -webkit-animation:stage6_ele2 10s ease-in 1s forwards
}
@-webkit-keyframes stage6_ele2 {
    0% {
        opacity: 0;
        -webkit-transform:scale(0.66);
    }
    76.66% {
        opacity: 0;
        -webkit-transform:scale(0.66);
    }
    81% {
        opacity: 1;
        -webkit-transform:scale(1);
        z-index: 20;
    }
    100% {
        opacity: 1;
        -webkit-transform:scale(1);
        z-index: 20;
    }
}
.ani .stage6_update_btn .login_new {
    -webkit-animation:breath 4s ease-in-out .2s infinite;
    -webkit-transition: all 0.5s ease-in-out;
}
@-webkit-keyframes breath {
    0% {
        box-shadow: 0 0 0 0 rgba(35, 234, 226, 0.15);
    }
    20% {
        box-shadow: 0 0 0 0 rgba(35, 234, 226, 0.15);
    }
    50% {
        box-shadow: 0 0 30px 30px rgba(35, 234, 226, 0.15);
    }
    55% {
        box-shadow: 0 0 30px 30px rgba(35, 234, 226, 0.15);
    }
    80% {
        box-shadow: 0 0 0 0 rgba(35, 234, 226, 0.15);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(35, 234, 226, 0.15);
    }
}
.ani .stage6_update_btn .login_new:hover {
    box-shadow: 0 0 30px 30px rgba(35, 234, 226, 0.15);
    -webkit-animation:forwards;
}