<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-touch-fullscreen" content="yes">
<meta http-equiv="pragma" content="no-cache"/>
<meta http-equiv="cache-control" content="no-cache"/>
<meta http-equiv="expires" content="0" />
<meta name="Keywords" content="西藏旅游"/>
<meta name="Description" content="西藏旅游" />
<title>西藏旅游</title>
<link href="css/main.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript">
var uid = 1223213;
</script>

</head>

<body>
<header class="header">
	<h1>我发起的行程</h1>
</header>
<div class="wrap">
	<div class="travel_list">
    	<ul id="pathlist">
        	<!--<li>
            	<h2>纳木错1日游</h2>
                <div class="result show"><label>出发时间：</label><span>2014年1月1日</span></div>
                <div class="edit hide"><label>出发时间：</label><input type="date" /></div>
                <div class="result show"><label>备注：</label><span>这里是备注这里是备注这里是备注这里是备注这里是备注这里是备注这里是备注这里是备注</span></div>
                <div class="edit hide"><label>备注：</label><textarea></textarea></div>
                <div class="edit hide"><label>是否约伴：</label><span class="friend_btn"><img src="images/true_btn.png" width="70" /><img src="images/false_btn.png" width="70" class="hide" /><input type="hidden" value="1" /></span></div>
            	<h3><img src="images/icon1.png" width="75" /><img src="images/icon2.png" width="75" class="hide" /></h3>
                <a class="edit_btn">编辑</a>
                <div class="edit hide"><a class="confirm_btn">确认修改</a></div>
            </li>
            <li>
            	<h2>纳木错1日游</h2>
                <div class="result show"><label>出发时间：</label><span>2014年1月1日</span></div>
                <div class="edit hide"><label>出发时间：</label><input type="date" /></div>
                <div class="result show"><label>备注：</label><span>这里是备注这里是备注这里是备注这里是备注这里是备注这里是备注这里是备注这里是备注</span></div>
                <div class="edit hide"><label>备注：</label><textarea></textarea></div>
                <div class="edit hide"><label>是否约伴：</label><span class="friend_btn"><img src="images/true_btn.png" width="70" /><img src="images/false_btn.png" width="70" class="hide" /><input type="hidden" value="1" /></span></div>
            	<h3><img src="images/icon1.png" width="75" /><img src="images/icon2.png" width="75" class="hide" /></h3>
                <a class="edit_btn">编辑</a>
                <div class="edit hide"><a class="confirm_btn">确认修改</a></div>
            </li>-->
        </ul>
    </div>
</div>
<div class="mask" id="mask"></div>


<script type="text/template" id="pathTpl">
<% for(var i = 0; i < data.length; i++) { %>
<% var item = data[i] %>
<li>
	<h2>
		<%=item.way %>
	</h2>
	<div class="result show">
		<label>出发时间：</label>
		<span><%=item.startim %></span>
	</div>
	<div class="edit hide">
		<label>出发时间：</label>
		<input type="date" value="<%=item.startim %>" />
	</div>
	<div class="result show">
		<label>备注：</label>
		<span><%=item.content %></span>
	</div>
    <div class="edit hide">
		<label>备注：</label>
		<textarea><%=item.content %></textarea>
	</div>
	<div class="edit hide">
		<label>是否约伴：</label>
		<span class="friend_btn">
			<% if(item.isover == 1) { %>
			<img src="images/true_btn.png" width="70" />
			<img src="images/false_btn.png" width="70" class="hide" />
			<input type="hidden" value="1" />
			<% }else{ %>
			<img src="images/true_btn.png" width="70" class="hide" />
			<img src="images/false_btn.png" width="70" />
			<input type="hidden" value="0" />
			<% } %>
			
		</span>
	</div>
	<h3>
		<% if(item.isover == 1) { %>
		<img src="images/icon1.png" width="75" />
		<img src="images/icon2.png" width="75" class="hide" />
		<% }else{ %>
		<img src="images/icon1.png" width="75" class="hide" />
		<img src="images/icon2.png" width="75" />
		<% } %>
	</h3>
	<a class="edit_btn">编辑</a>
	<div class="edit hide"><a class="confirm_btn">确认修改</a></div>
</li>
<% } %>
</script>
<script type="text/javascript" src="js/jquery-2.1.0.js"></script>
<script type="text/javascript" src="js/underscore.js"></script>
<script type="text/javascript" src="js/main.js"></script>

<script type="text/javascript">
myPathList();	
</script>
<!--<footer class="footer">
	<div class="func_box">
    	<a class="left_btn func_btn"></a>
        <a class="middle_btn" id="submit_btn">发起行程</a>
        <a class="right_btn back_btn"></a>
    </div>
</footer>-->
</body>
</html>
